body {
    font-family: 'Poiret One', cursive;

    background-color: #0d1c29;
}


ul {
    list-style: none;
    padding: 0;
}



.mainTitle {
    font-size: 75px;
    text-align: center;
    color: #007066;
    text-decoration: underline;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    display:block;
    margin: -60px auto 100px;
}

.avatar img:hover {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    display:block;
    margin: -60px auto auto;
    transform: Scale(1.15);
    transition: transform 300ms;
}

/*playlist styles*/

#playlistList{
    width: 670px!important;
    margin: 0 auto;
}

.playlistName{
    color: #007066;
    font-size:25px;
}
.playlistDesc{
    color: beige;
    margin-bottom:90px;
    padding: 5px;
    text-align: center;
}

.playlistCard{
    height: auto;
    width: 55%;
    max-height: 600px;
    padding-bottom: 50px;
    border-bottom: 2px solid beige;
    margin: 0 auto;
}
.meta{

    width: 500px;
    margin:0 auto;
}
.playlistName{
    text-align: center;
}

.playlistCard img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;

}
.wave{
    height: 60px!important;
}



/*menu styles*/


.navContainer{
    width: 510px;
    margin: 60px auto auto;
}


.menuItem a{
    text-decoration: none;
    height: 50px!important;

}
.menuItem p{
    text-align: center;
    color: beige;
    font-size: 20px;
    vertical-align: center;
    padding-bottom: 8px;
    padding-top:8px;
    background-color: #004d43;
    width: 510px;
    margin: 20px auto auto;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.15);


}

.menuItem p:hover {
    font-size: 20px;
    font-weight: bolder;
    background-color: #00473d;
    transform: Scale(1.02);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
    transition: background-color,transform,box-shadow, 200ms;
}

/*fixed player container styles*/

.playerCont{
    position: fixed;
    top:100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 169, 255, 0.31);
    width: 60%;
    max-width: 750px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);

}


.playerCont .heading{
    height: 45px !important;
}

.playerCont .title {

    display: inline-block;
    font-family: 'Poiret One', cursive;
    margin: 0;
    padding-top: 2px;
    padding-left: 2px;
    color: white;
    font-size: 22px;
    transform: translateY(6px)translateX(5px);

}
.playerCont .duration{
    display: inline-block;
    font-family: 'Poiret One', cursive;
    color: beige;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(12px)translateX(-15px);
    float: right;
}
.playerCont .wave{
    height: 60px;
    background-color: rgb(70, 94, 119);
}

/*song card styles*/

.songCard {
    background-color: #1c262e;
    height: 50px;
    width: 100%;
    max-width: 600px;
    border-bottom: 2px solid #007066;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto 10px;

}


.songCard:hover{
    background-color: #1c262e;
    transform: translateY(8px);
    transform: Scale(1.03);

    transition: transform 200ms;
    border-bottom: 2px solid #007066;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2)

}

.songCard .title {
    font-family: 'Poiret One', cursive;
    color: beige;
    font-size: 22px;
    font-weight: 500;
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(12px);
}

.index {
    margin-left: 5px;
}



.btn {
    float: left;
    background-color: #007066;
    width: 50px;
    height: 50px;
    border: none;
    display: block;
    padding: 0;
}

.btn:hover {
    background-color: #00483f;
    transition:background-color 200ms;
}

.btn i {
    font-size: 25px;
    color: rgba(30, 30, 30, 0.91);
    display: inline-block;
}

.btn:hover i {
    color: beige;
}
